@import url("https://fonts.googleapis.com/css?family=Lato:400i,600");



@keyframes getBlurry {
  0% {
    filter: blur(0px);
    transform: scale(1);
  }
  100% {
    filter: blur(10px);
    transform: scale(1.2);
  }
}

.chat {
    position: relative;
    display: inline-block;
    animation: popFromBottom 0.5s ease-in-out;
    margin: auto;
    margin-top: 5vmin;
    margin-bottom: 12vmin;

    display: flex;
    flex-direction: column;
    /*width: 95%;*/
    
   
   
}

@keyframes popFromBottom {
  0% {
    transform: translateY(300px) scale(0);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

.img {
      height: 15vmin;
    width: 15vmin;
    margin: auto;
    
   
}

.profile {
    width: 22vmin;
    height: 22vmin;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: -16vmin;
    top: -1vmin;
    border: 1px solid #fff;
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.remove {
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 0vmin;
    top: -1vmin;
    border: 1px solid #fff;
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: red;
    transition:.6s;
    cursor: pointer;
}



.remove:hover {
  transform: rotate(360deg);
  
/*border: 0.5px rgb(201, 45, 45) solid ;*/
  box-shadow:  0px 0px 25px rgb(201, 45, 45),
  0px 0px 50px rgb(201, 45, 45),
  0px 0px 100px rgb(201, 45, 45),
  0px 0px 200px rgb(201, 45, 45);
}

.remove:active {
  transform: scale(1.2);  
    
}













/****************************************************************************/

.message {
    background: #b8b8b8;
    padding: 2vmin 5vmin 2vmin 10vmin;
    border-radius: 0px 50px 50px 0px;
    font-size: 3vmin;
    text-align: left;
    color: white;

}

.user {
  text-align: left;
  padding: 2px 30px 5px 60px;
  border-radius: 0px 0px 20px 40px;
  font-size: 3.2vmin;
  background: #fff;
  color: #83aebd;
  display: inline-block;
  float: left;
  font-weight: 600;
  font-style: normal;
  width: fit-content;
  width: -moz-fit-content;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden
}

.text{
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
	-moz-animation: glow 2s ease-in-out infinite alternate;
	animation: glow 2s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
	from {
	 color: #fff;
   text-shadow: 0 0 10px #C2A476, 0 0 20px #C2A476, 0 0 30px #C2A476, 0 0 40px #C2A476, 0 0 50px #C2A476, 0 0 60px #C2A476, 0 0 70px #C2A476, 0 0 90px #C2A476;
 }
 
 to {
	color: gray;
   text-shadow: 0 0 20px #C2A476, 0 0 30px #C2A476, 0 0 40px #C2A476, 0 0 50px #C2A476, 0 0 60px #C2A476, 0 0 70px #C2A476, 0 0 80px #C2A476, 0 1 90px #C2A476;
 }
}


.contentMessage{
    width: 100%;
    background-color: #efedee;
    min-height:100vh;
    margin: auto;
    text-align: center;
    font-family: 'Lato';
    color: black;
    font-weight: bold;
    font-style: italic;
    -webkit-font-smoothing: antialiased;
    padding: 0vmin 10vmin 0vmin 20vmin;
}

@media(max-width: 992px){
  .contentMessage{
     width: 100%;
     height: auto;
  }
}

.list{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 15px 0px 15px 15px;    
  cursor: pointer;
  box-shadow: 0px 1px 5px #00000045;
}

.msgg{
  height: fit-content;
  padding: 8px;
  border: 1px solid #228fd6;
  text-align: left;
  border-radius: 8px;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  max-height: fit-content;
  overflow-y: auto;
  min-width: 50%;
  max-width: 50%;
}
a{cursor: pointer;}
.msgg::-webkit-scrollbar {
  width: 10px;
}

.msgg::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.msgg::-webkit-scrollbar-thumb {
  background: #0a2946;
  border-radius: 10px;
}

.txms{
  float: left;
  width: 30%;
  font-size: 1em;
  font-weight: bold;
}

.contmsg{
  display: flex;
  flex-direction: row;
  margin-top: 5px;

}
.ctrmsg{
  margin: auto;
  width: 20%;
  display: flex;
  justify-content: space-around;

}


.txtview{
  font-weight: bold;
  font-size: 1em;
  color: #e57e1e;
}

.timeres{
  position: absolute;
  right: 50px;
  border-radius: 25px;
  bottom: 40px;
  
}



#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#myBtn {
  outline: none;
  border: 0;
  display: none; /* Hidden by default */
  position: fixed;
  right: 80px;
  bottom: 20px;
  height: 55px;
  width: 55px;
  background: -webkit-linear-gradient(left, rgb(34 33 29), #f5f3ef);
  text-align: center;
  line-height:55px;
  border-radius: 50px;
  font-size: 15px;
  color: black;
  cursor: pointer;
  z-index: 99;

}