.a{
    cursor: pointer;
    border: 3px solid #1166b6;
    width: 140px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px 0px 10px 0px;
    color: white;
  }
        body{
          padding: 0;
          margin: 0;
        }
  .Produit{
    width: 100%;
    max-height: fit-content;

  }


  .video{
    width: 100%;
    height: fit-content;

  }
  .documentair{
    width: 100%;
  
    max-height: fit-content;


  }
  .slider{
    width: 100%;
    padding-top: 10px;
  }

  .live{
    width: 100%;
    min-height: 657px;
    max-height: fit-content;
  }
  h1{
    color:coral;
  }
  #myBtn {
      outline: none;
      border: 0;
    display: none; /* Hidden by default */
    position: fixed;
    right: 100px;
    bottom: 20px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    border-radius: 50px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 99;

  }

  #myBtnreteur{
    position: fixed;
    right: 30px;
    bottom: 20px;
    height: 55px;
    width: 55px;
    background: -webkit-linear-gradient(left, #0a2946, #228fd6);
    text-align: center;
    line-height: 55px;
    border-radius: 50px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 99;
  }
  #myBtn:hover,#myBtnreteur:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  @media (max-width: 992px){

        #myBtnreteur{
                  bottom: 100px;
                  right : 10px;
        }
        #myBtn {
                  bottom: 30px;
                  right:  10px;
        }
        .label {
            position: fixed;
            bottom: 30px;
            right:  10px;
  }
  }



  /*******************************Partie Messsage Style****************************/
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#click{
  display: none;
}
label{
  position: fixed;
  right: 20px;
  bottom: 15px;
  height: 55px;
  width: 55px;
  background: -webkit-linear-gradient(left, #0a2946, #228fd6);
  text-align: center;
  line-height: 55px;
  border-radius: 50px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 99;
}
label i , #myBtnreteur i,#myBtn i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

label i.fas{
  opacity: 0;
  pointer-events: none;
}

#click:checked ~ label i.fas{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) rotate(180deg);
}
#click:checked ~ label i.fab{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(180deg);
}
.wrapper{
  position: fixed;
  right: 30px;
  bottom: 0px;
  min-width: 350px;
  max-width: 400px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  opacity: 0;
  z-index: 99;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#click:checked ~ .wrapper{
  opacity: 1;
  bottom: 85px;
  pointer-events: auto;
}



.wrapper .head-text{
  line-height: 60px;
  color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 0 20px;
  font-weight: 500;
  font-size: 20px;
  background: -webkit-linear-gradient(left, #883322, #d8a690);
}
.wrapper .chat-box{
  width: 100%;
}
.chat-box .desc-text{
  color: #515365;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  font-weight: 500;
}
.chat-box form{
  padding: 0;
  margin:0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}
.chat-box form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;

 
}
.chat-box form .field:last-child{
  margin-bottom: 15px;
}


form .field button{
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 25px;
  font-size: 16px;
  transition: all 0.3s ease;
  float: right;
  margin: auto;

}

form .field input{
  width: 80%;
  height: 100%;
  padding-left: 20px;
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 25px;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .field input:focus{
  border-color: #fc83bb;
}
form .field input::placeholder,
form .textarea textarea::placeholder{
  color: silver;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder{
  color: lightgrey;
}


.chat-box form .field button{
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: -webkit-linear-gradient(left, #883322, #d8a690);
  transition: all 0.3s ease;
}
.chat-box form .field button:active{
  transform: scale(0.97);
}


.boitmsg{

  width: 100%;
  height: 300px;
  border-bottom: 1px solid lightgrey;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;

}


.boitmsg::-webkit-scrollbar {
  width: 6px;
}

.boitmsg::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.boitmsg::-webkit-scrollbar-thumb {
  background: #d8a690;
  border-radius: 10px;
}


.leftmsg{
  width: 100%;
  padding: 10px;


}

.leftmsg span{
  padding: 10px;
  border-radius:  0px 20px  20px 20px;
  float: left;
  max-width: 250px;
  background:  #883322;
  overflow: hidden;




}


.Righttmsg{
width: 100%;
padding: 10px;

}

.Righttmsg span{
  padding: 10px;
  border-radius: 20px 0px 20px 20px;
  float: right;
  max-width: 250px;
  background:  #d8a690;
  overflow: hidden;

}



